html {
    height: 102%;
}

body {
    word-wrap: break-word;
}

button {
    background:none;
    border:none; 
    padding:0;
    cursor:pointer;
}

button:focus {
    outline: none;
}


[hidden] {
    display: none !important
}

label {
    cursor: pointer;
}

.star {
    margin-left:-20px;
    font-size:1.2em;
    position:relative;
    top:-2px;
}

.star button { 
    transition: color .1s;
}
.star.selected button { 
    color:#22a; 
}
.edit_links button {
    transition: color .1s ease-in;
}

.tag {
    color:#a51;
    line-height:190%;
}

.private { background:#ddd;border:1px solid #d1d1d1; }
.unread { color:#b41 }
.mark_read {color: #a81;}
.flash { color:green;background:#efe }

.top_menu { 
    margin-top:6px;
}
.top_menu a {
    color: blue;
}
.bookmarklet { 
    padding:1px 2px 0px 2px;
}

.alert { 
    background:#ced;
    border:1px solid #acc; 
}

.edit_bookmark_form {color:#888;}
.edit_bookmark_form input {border:1px solid #ddd;}
.edit_bookmark_form textarea {border:1px solid #ddd;}

.nav-active {
    background:#ff8;
    color:blue;
}

/* mobile device */
@media only screen and (max-width : 750px) {
    body { 
        -webkit-text-size-adjust: none; 
    }
    .display {
        float: none
    }
}

@media only screen and (max-width : 500px) {
    .filters {
        clear: both;
        position: relative;
        top: 2px;
    }
}

.rdim {
  opacity: .8;
  transition: all .15s ease-in;
}
.rdim:hover,
.rdim:focus {
  opacity: 1;
  transition: all .15s ease-in;
}
