html {
  box-sizing: border-box;
}

#addForm .alert {
  margin-top: -6px;
}

form label {
  margin: 0;
  vertical-align: middle;
  display: table-cell;
  padding: 2px 0;
  white-space: nowrap;
}

button {
  white-space: nowrap;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

a.bookmark_title {
  font-size: 120%;
}
