html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#popup_header
	{
	  color:#aaa;
	  height:25px;
	}
	.error { color:red}
	.login { color:blue }
	#logout { float:right; }
	.alert { margin-left:20px;color:#333;background:#ced;float:left;padding:3px;padding-top:1px;width:300px;border:1px solid #acc; }
#title { float:left ;padding-top:2px; }
	body
{
  color:#333;
  font-family:helvetica;
  font-size:12px;
  margin-left:20px;
}

form label { display: block; margin-bottom: 10px; }
li { list-style-type: none; margin: 0; padding: 0; display: block;} 
section,footer,header { display: block; }
fieldset { border: none; }
legend { display: none; }


a { text-decoration:none; }

a.suggested_tag { 
    text-decoration:none;
}

a.navlink 
{
    text-decoration:none;
}

.count { color:#aaa }
.when { color:#999}

.unread { color:#b41 }
a.unread { color:#b41 }
a.bookmark_title { font-size:120%;}
.disabled { color:#bbb }

input[type='checkbox'] {
    margin: 0;
    margin-bottom: 8px;
}
